<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT globalElements ANY>
<!ATTLIST globalElements id ID #REQUIRED>
<!ELEMENT himuMaster ANY>
<!ATTLIST himuMaster id ID #REQUIRED>
<!ELEMENT himuPanelBase ANY>
<!ATTLIST himuPanelBase id ID #REQUIRED>
<!ELEMENT himuPanels ANY>
<!ATTLIST himuPanels id ID #REQUIRED>
<!ELEMENT himuAboutUs ANY>
<!ATTLIST himuAboutUs id ID #REQUIRED>
<!ELEMENT himuBlog ANY>
<!ATTLIST himuBlog id ID #REQUIRED>
<!ELEMENT himuBlogPanel ANY>
<!ATTLIST himuBlogPanel id ID #REQUIRED>
<!ELEMENT himuClients ANY>
<!ATTLIST himuClients id ID #REQUIRED>
<!ELEMENT himuClientPanel ANY>
<!ATTLIST himuClientPanel id ID #REQUIRED>
<!ELEMENT himuContact ANY>
<!ATTLIST himuContact id ID #REQUIRED>
<!ELEMENT himuOurTeam ANY>
<!ATTLIST himuOurTeam id ID #REQUIRED>
<!ELEMENT himuTeamMember ANY>
<!ATTLIST himuTeamMember id ID #REQUIRED>
<!ELEMENT himuPortfolio ANY>
<!ATTLIST himuPortfolio id ID #REQUIRED>
<!ELEMENT himuServices ANY>
<!ATTLIST himuServices id ID #REQUIRED>
<!ELEMENT himuService ANY>
<!ATTLIST himuService id ID #REQUIRED>
<!ELEMENT himuTopPanel ANY>
<!ATTLIST himuTopPanel id ID #REQUIRED>
]>
<root id="-1">
  <himuMaster id="1097" key="ee408559-c259-4e1e-a353-3c39cc34f6a2" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-05T22:06:07" updateDate="2016-12-05T22:08:55" nodeName="HimuHome" urlName="himuhome" path="-1,1097" isDoc="" nodeType="1082" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="1077" nodeTypeAlias="himuMaster">
    <himuPanels id="1098" key="dee369c1-7ebd-42d1-9ac8-1ae8a2773524" parentID="1097" level="2" creatorID="0" sortOrder="0" createDate="2016-12-05T22:06:08" updateDate="2016-12-05T22:08:56" nodeName="Panels" urlName="panels" path="-1,1097,1098" isDoc="" nodeType="1084" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuPanels">
      <himuTopPanel id="1099" key="4597e154-087e-4f6b-ae52-e08b714cc50c" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2016-12-05T22:06:08" updateDate="2016-12-05T22:23:30" nodeName="Header" urlName="header" path="-1,1097,1098,1099" isDoc="" nodeType="1096" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuTopPanel">
        <text><![CDATA[<p>this is the text for the top panel</p>]]></text>
        <title><![CDATA[Creative Talent Connections]]></title>
        <haveMenuItem>1</haveMenuItem>
        <menuTitle><![CDATA[Home]]></menuTitle>
        <subTitle><![CDATA[Media networking events and training opportunities]]></subTitle>
        <buttonText><![CDATA[Come join us]]></buttonText>
        <link><![CDATA[#a-Contact]]></link>
        <backgroundImage><![CDATA[1117]]></backgroundImage>
      </himuTopPanel>
      <himuAboutUs id="1100" key="90c16e87-4420-4e65-98c5-6ef2eeb26996" parentID="1098" level="3" creatorID="0" sortOrder="1" createDate="2016-12-05T22:06:09" updateDate="2016-12-05T22:08:57" nodeName="our aim" urlName="our-aim" path="-1,1097,1098,1100" isDoc="" nodeType="1085" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="1076" nodeTypeAlias="himuAboutUs">
        <text><![CDATA[<p>The film and television industry and how people watch film and television is constantly evolving.  Our aim is to break down barriers and make the film and television industry more accessible.  We plan to do this by providing people with the skills and opportunities they need to establish and maintain successful careers in their chosen fields.</p>
<p>Through our networking events, Q&amp;A sessions and training courses people will have the chance to make contacts and gain skills which will hopefully lead to employment opportunities and collaborations.</p>
<p>Our Q&amp;A sessions and panel discussions will provide opportunity for much needed discussion and insight into the realities of working in film and television..</p>]]></text>
        <title><![CDATA[our aim]]></title>
        <haveMenuItem>1</haveMenuItem>
        <menuTitle><![CDATA[Our Aim]]></menuTitle>
        <richText><![CDATA[<p>The film and television industry and how people watch film and television is constantly evolving.  Our aim is to break down barriers and make the film and television industry more accessible.  We plan to do this by providing people with the skills and opportunities they need to establish and maintain successful careers in their chosen fields.</p>
<p>Through our networking events, Q&amp;A sessions and training courses people will have the chance to make contacts and gain skills which will hopefully lead to employment opportunities and collaborations.</p>
<p>Our Q&amp;A sessions and panel discussions will provide opportunity for much needed discussion and insight into the realities of working in film and television..</p>]]></richText>
      </himuAboutUs>
      <himuServices id="1101" key="87e4ab7e-f903-40ee-9dba-315b19ea628d" parentID="1098" level="3" creatorID="0" sortOrder="2" createDate="2016-12-05T22:06:09" updateDate="2016-12-06T09:27:03" nodeName="Services" urlName="services" path="-1,1097,1098,1101" isDoc="" nodeType="1094" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuServices">
        <text><![CDATA[<p>This is the text for the services panel</p>]]></text>
        <title><![CDATA[our events and services]]></title>
        <haveMenuItem>1</haveMenuItem>
        <menuTitle><![CDATA[Services]]></menuTitle>
        <image><![CDATA[1117]]></image>
        <himuService id="1102" key="2ef7d4ef-bec1-4e5b-9198-6fd94cd5e0dd" parentID="1101" level="4" creatorID="0" sortOrder="0" createDate="2016-12-05T22:06:10" updateDate="2016-12-05T22:26:18" nodeName="Service 1" urlName="service-1" path="-1,1097,1098,1101,1102" isDoc="" nodeType="1095" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuService">
          <text><![CDATA[<p>this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one.</p>]]></text>
          <title><![CDATA[Service 1]]></title>
          <haveMenuItem>1</haveMenuItem>
          <fontAwesomeIcon><![CDATA[fa-users]]></fontAwesomeIcon>
        </himuService>
        <himuService id="1103" key="bd328c79-847c-47e7-91c5-af0442ff514c" parentID="1101" level="4" creatorID="0" sortOrder="1" createDate="2016-12-05T22:06:11" updateDate="2016-12-05T22:09:03" nodeName="Service 1 (1)" urlName="service-1-1" path="-1,1097,1098,1101,1103" isDoc="" nodeType="1095" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuService">
          <text><![CDATA[this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one.]]></text>
          <title><![CDATA[Service 1]]></title>
          <haveMenuItem>1</haveMenuItem>
          <fontAwesomeIcon><![CDATA[fa-turkish-lira]]></fontAwesomeIcon>
        </himuService>
        <himuService id="1104" key="d6923580-45a2-415d-b219-8aaef0e29ab1" parentID="1101" level="4" creatorID="0" sortOrder="2" createDate="2016-12-05T22:06:11" updateDate="2016-12-05T22:09:05" nodeName="Service 1 (2)" urlName="service-1-2" path="-1,1097,1098,1101,1104" isDoc="" nodeType="1095" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuService">
          <text><![CDATA[this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one. this is the text for service one.]]></text>
          <title><![CDATA[Service 1]]></title>
          <haveMenuItem>1</haveMenuItem>
          <fontAwesomeIcon><![CDATA[fa-turkish-lira]]></fontAwesomeIcon>
        </himuService>
      </himuServices>
      <himuBlog id="1105" key="89d38967-268b-48da-a893-0d663bc85da3" parentID="1098" level="3" creatorID="0" sortOrder="3" createDate="2016-12-05T22:06:12" updateDate="2016-12-05T22:08:58" nodeName="Questions with" urlName="questions-with" path="-1,1097,1098,1105" isDoc="" nodeType="1086" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuBlog">
        <title><![CDATA[quick Questions with]]></title>
        <haveMenuItem>1</haveMenuItem>
        <menuTitle><![CDATA[Questions With]]></menuTitle>
        <himuBlogPanel id="1106" key="b48ca6ec-d1b0-41a3-bdb8-61b06a53c116" parentID="1105" level="4" creatorID="0" sortOrder="0" createDate="2016-12-05T22:06:12" updateDate="2016-12-05T22:23:59" nodeName="Panel 1" urlName="panel-1" path="-1,1097,1098,1105,1106" isDoc="" nodeType="1087" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuBlogPanel">
          <text><![CDATA[<p>this is the short text for panel one</p>]]></text>
          <title><![CDATA[Panel 1]]></title>
          <haveMenuItem>1</haveMenuItem>
          <blogImage><![CDATA[1118]]></blogImage>
          <fullText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet suscipit augue, ac mollis dui placerat sed. Aliquam non facilisis eros. Nulla dignissim nibh sed dolor hendrerit scelerisque. Suspendisse congue nunc a lacus finibus, et tristique eros mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium egestas nisi venenatis vehicula.</span></p>]]></fullText>
        </himuBlogPanel>
        <himuBlogPanel id="1107" key="a2c07552-1639-435e-a060-229c5eeab872" parentID="1105" level="4" creatorID="0" sortOrder="1" createDate="2016-12-05T22:06:13" updateDate="2016-12-05T22:24:11" nodeName="Panel 2" urlName="panel-2" path="-1,1097,1098,1105,1107" isDoc="" nodeType="1087" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuBlogPanel">
          <text><![CDATA[<p>Through our networking events, Q&amp;A sessions and training courses people will have the chance to make contacts and gain skills which will hopefully lead to employment opportunities</p>]]></text>
          <title><![CDATA[blog panel 2]]></title>
          <haveMenuItem>1</haveMenuItem>
          <blogImage><![CDATA[1118]]></blogImage>
          <fullText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet suscipit augue, ac mollis dui placerat sed. Aliquam non facilisis eros. Nulla dignissim nibh sed dolor hendrerit scelerisque. Suspendisse congue nunc a lacus finibus, et tristique eros mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium egestas nisi venenatis vehicula.</span></p>]]></fullText>
        </himuBlogPanel>
        <himuBlogPanel id="1108" key="ccf4e246-f5e9-478e-b8fc-e605a32fd8f3" parentID="1105" level="4" creatorID="0" sortOrder="2" createDate="2016-12-05T22:06:14" updateDate="2016-12-05T22:24:25" nodeName="Panel 1 (1)" urlName="panel-1-1" path="-1,1097,1098,1105,1108" isDoc="" nodeType="1087" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuBlogPanel">
          <text><![CDATA[<p>this is the short text for panel one</p>]]></text>
          <title><![CDATA[Panel 3]]></title>
          <haveMenuItem>1</haveMenuItem>
          <blogImage><![CDATA[1118]]></blogImage>
          <fullText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet suscipit augue, ac mollis dui placerat sed. Aliquam non facilisis eros. Nulla dignissim nibh sed dolor hendrerit scelerisque. Suspendisse congue nunc a lacus finibus, et tristique eros mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium egestas nisi venenatis vehicula.</span></p>]]></fullText>
        </himuBlogPanel>
      </himuBlog>
      <himuOurTeam id="1109" key="f05a72fc-341d-4885-b4bc-265c74fdd3d9" parentID="1098" level="3" creatorID="0" sortOrder="4" createDate="2016-12-05T22:06:14" updateDate="2016-12-05T22:08:59" nodeName="Testimonials" urlName="testimonials" path="-1,1097,1098,1109" isDoc="" nodeType="1091" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuOurTeam">
        <text><![CDATA[<p>this is the text for the our team panel</p>]]></text>
        <title><![CDATA[Testimonials ]]></title>
        <haveMenuItem>1</haveMenuItem>
        <menuTitle><![CDATA[Testimonials ]]></menuTitle>
        <himuTeamMember id="1110" key="faff2450-38fa-4b8e-b133-9d58841b67cb" parentID="1109" level="4" creatorID="0" sortOrder="0" createDate="2016-12-05T22:06:15" updateDate="2016-12-05T22:24:38" nodeName="Ross" urlName="ross" path="-1,1097,1098,1109,1110" isDoc="" nodeType="1092" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuTeamMember">
          <text><![CDATA[<p>dsfljk vsldfkj vlsdk fjlsdk jfl kjlk jlk jlk jlk jl kjlk jl kjl kjlk jl kjsd sdfsdf fg dfg dfg dfg sdfg df gdfgdf gdf g dfg k hkj hkjh lk hasdlk fasldu flasi flasi fulasidu fli uf</p>]]></text>
          <title><![CDATA[Ross Minnes]]></title>
          <haveMenuItem>1</haveMenuItem>
          <subTitle><![CDATA[Web Developer]]></subTitle>
          <image><![CDATA[1118]]></image>
        </himuTeamMember>
        <himuTeamMember id="1111" key="70ccacad-b106-40df-a91c-f2a1d2773e78" parentID="1109" level="4" creatorID="0" sortOrder="1" createDate="2016-12-05T22:06:15" updateDate="2016-12-05T22:24:49" nodeName="Ross (1)" urlName="ross-1" path="-1,1097,1098,1109,1111" isDoc="" nodeType="1092" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuTeamMember">
          <text><![CDATA[<p>dsfljk vsldfkj vlsdk fjlsdk jfl kjlk jlk jlk jlk jl kjlk jl kjl kjlk jl kjsd sdfsdf fg dfg dfg dfg sdfg df gdfgdf gdf g dfg k hkj hkjh lk hasdlk fasldu flasi flasi fulasidu fli uf</p>]]></text>
          <title><![CDATA[Ross Minnes]]></title>
          <haveMenuItem>1</haveMenuItem>
          <subTitle><![CDATA[Web Developer]]></subTitle>
          <image><![CDATA[1118]]></image>
        </himuTeamMember>
        <himuTeamMember id="1112" key="a8630d4c-c8c8-4612-b39f-09db250f8055" parentID="1109" level="4" creatorID="0" sortOrder="2" createDate="2016-12-05T22:06:16" updateDate="2016-12-05T22:25:00" nodeName="Ross (2)" urlName="ross-2" path="-1,1097,1098,1109,1112" isDoc="" nodeType="1092" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuTeamMember">
          <text><![CDATA[<p>dsfljk vsldfkj vlsdk fjlsdk jfl kjlk jlk jlk jlk jl kjlk jl kjl kjlk jl kjsd sdfsdf fg dfg dfg dfg sdfg df gdfgdf gdf g dfg k hkj hkjh lk hasdlk fasldu flasi flasi fulasidu fli uf</p>]]></text>
          <title><![CDATA[Ross Minnes]]></title>
          <haveMenuItem>1</haveMenuItem>
          <subTitle><![CDATA[Web Developer]]></subTitle>
          <image><![CDATA[1118]]></image>
        </himuTeamMember>
        <himuTeamMember id="1113" key="b66c2045-f501-4b8b-a030-6403d1ec50b6" parentID="1109" level="4" creatorID="0" sortOrder="3" createDate="2016-12-05T22:06:17" updateDate="2016-12-05T22:25:12" nodeName="Ross (3)" urlName="ross-3" path="-1,1097,1098,1109,1113" isDoc="" nodeType="1092" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuTeamMember">
          <text><![CDATA[<p>dsfljk vsldfkj vlsdk fjlsdk jfl kjlk jlk jlk jlk jl kjlk jl kjl kjlk jl kjsd sdfsdf fg dfg dfg dfg sdfg df gdfgdf gdf g dfg k hkj hkjh lk hasdlk fasldu flasi flasi fulasidu fli uf</p>]]></text>
          <title><![CDATA[Ross Minnes]]></title>
          <haveMenuItem>1</haveMenuItem>
          <subTitle><![CDATA[Web Developer]]></subTitle>
          <image><![CDATA[1118]]></image>
        </himuTeamMember>
      </himuOurTeam>
      <himuContact id="1114" key="290a586e-fb4b-4664-ad5a-b55cfbc4b706" parentID="1098" level="3" creatorID="0" sortOrder="5" createDate="2016-12-05T22:06:17" updateDate="2016-12-05T22:08:59" nodeName="Join Us" urlName="join-us" path="-1,1097,1098,1114" isDoc="" nodeType="1090" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="himuContact">
        <text><![CDATA[<p>this is the text for the contact panel</p>]]></text>
        <title><![CDATA[Join Us]]></title>
        <haveMenuItem>1</haveMenuItem>
        <menuTitle><![CDATA[Contact]]></menuTitle>
        <thankYouMessage><![CDATA[Thank you for contacting us]]></thankYouMessage>
        <addressLine1><![CDATA[Exhibition Way]]></addressLine1>
        <addressLine2><![CDATA[Glasgow]]></addressLine2>
        <addressLine3><![CDATA[G3 8YW]]></addressLine3>
        <companyName><![CDATA[SECC]]></companyName>
      </himuContact>
    </himuPanels>
  </himuMaster>
  <globalElements id="1115" key="2e6b714e-8b9f-4b0f-ad17-a2bf9daec13f" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-12-05T22:16:43" updateDate="2016-12-05T22:17:16" nodeName="Global config" urlName="global-config" path="-1,1115" isDoc="" nodeType="1081" creatorName="Ross Minnes" writerName="Ross Minnes" writerID="0" template="0" nodeTypeAlias="globalElements">
    <footerMessage><![CDATA[Copyright © Creative Talent Connections 2016. All Rights Reserved]]></footerMessage>
    <siteName><![CDATA[CTC]]></siteName>
  </globalElements>
</root>